.socialMedia{
  text-align: center;
  margin-top: 150px;
  
}
.facebook{
  padding-right: 10px;
}
.linkedin{
  padding-right: 10px;
}
.twitter{
  padding-right: 10px;
}
.pinterest{
  padding-right: 10px;
}